# To INSTALL packages

In [ ]:
!pip install -U pip setuptools wheel
!pip install -U spacy

In [ ]:
!pip install -U pip setuptools wheel
!pip install -U spacy
!python -m spacy download en_core_web_sm
!python -m spacy download pt_core_news_sm

# To READ files

In [53]:
# Google drive conection
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
path = "/content/drive/MyDrive/INSPER/03_trabfinal_1certif/Dados/Processed/"

from os import listdir
files = listdir(path)
files

['1721134973363736_João Pedro Pitombo_2022-01-05_Coronavírus.txt',
 '1721130095679618_Fábio Pescarini_2022-01-05_Coronavírus.txt',
 '1721122587219657_Luís Costa_2022-01-05_Rio de Janeiro.txt',
 '1721153153464175_José Matheus Santos_2022-01-05_Coronavírus.txt',
 '1721155128269049_Isabella Menon_2022-01-05_Coronavírus.txt',
 '1721167833180765_Wesley Faraó Klimpel_2022-01-05_Mobilidade Urbana.txt',
 '1721034292748976_Isac Godinho_2022-01-06_Folhajus.txt']

In [55]:
file1 = open(path + files[5], "r+")

text = file1.read()
text

'Mini-Fusca de menina de 7 anos é guinchado pela polícia em SC; veja vídeo. PM cobrou licenciamento de veículo, mas mãe tinha apenas nota fiscal. O primeiro dia de 2022 deixou memórias ruins para a família de Simone França, 40. Seu marido e sua filha, de 7 anos, estavam passeando em um mini-Fusca em Itapoá (a 250 km de Florianópolis) quando o veículo foi apreendido e guinchado pela Polícia Militar de Santa Catarina.    De acordo com a PM, o mini-Fusca, por ser motorizado e movido a gasolina, ao circular em uma via pública, recebe o tratamento como um veículo automotor, conforme o Código de Trânsito Brasileiro.    "Estava sendo conduzido sem as devidas condições de segurança, sem a documentação necessária (licenciamento) e dirigido por pessoa não habilitada, que acarretam na remoção do mesmo, além das autuações pertinentes", diz em nota a corporação.    Segundo Simone, sua filha estava acompanhada do pai no mini-Fusca conversível, e tanto o carro da frente quanto o de trás eram da família, fazendo a segurança do veículo, com pisca-alerta ligado.    Quando o veículo foi abordado, a empresária afirma que tentou apresentar ao policial a nota fiscal do modelo, que é voltado ao público infantil, mas ele cobrou o licenciamento e disse que já havia orientado a família sobre isso.    Esse mesmo PM, segundo a mulher, os havia abordado dois dias antes, quando a criança dirigia na rua de casa, e perguntara apenas sobre nota fiscal. "Ele não falou em nenhum momento que não podia andar. Se dissesse algo, eu já deixava na garagem de casa e pedia para o meu pai levar embora", explica ela.    Nesse segundo encontro, após o policial pedir a documentação, Simone disse que não sabia que precisava e sugeriu empurrar o brinquedo motorizado de volta para casa ou então tirar a bateria.    "O desconhecimento da legislação não exime o condutor da aplicação das normas, seja elas de trânsito ou de outra espécie", diz a PM em nota.    \u200bA empresária afirma que quem estava conduzindo o mini-Fusca era o pai, e não a filha. "Era ele que estava usando o freio e o acelerador. O policial alegou que ela estava dirigindo, e a gente falava ‘como que a gente vai deixar ela dirigir aqui?’ Não dava nem para andar a 10 km/h."    Modelos como o da família paranaense têm quatro pedais: um freio e um acelerador para quem está à esquerda e outro freio e outro acelerador para quem está à direita.    Segundo a PM, a entrega de veículo a pessoa não habilitada pode gerar detenção de seis meses a um ano ou multa. O pai da criança teve a habilitação apreendida e vai responder a um processo criminal.    Para Alan Bousso, mestre em direito civil, o pai da criança tem que responder criminalmente, por ser o responsável pela menor. "Como o carro pode atingir 50 km/h, ele pode causar prejuízo para as pessoas", explica. "A polícia não tem só o dever, mas a obrigação de tirar o carro de circulação, que pode causar a morte de alguém."    Segundo a empresária, a filha costuma dirigir o mini-Fusca no condomínio onde moram, em São José dos Pinhais (PR), e nunca teve um problema semelhante. O carro, que custou R$ 12.500, faz sucesso entre as crianças da região, ela diz.    Após a confusão, a família adiantou o retorno para casa e já procurou um advogado para liberar o mini-Fusca com a Justiça. A empresária diz, ainda, que está avaliando processar o Estado de Santa Catarina pelo jeito que a família foi tratada pelos PMs.    Segundo a paranaense, a filha sofreu bastante com o ocorrido, tanto durante as quatro horas que levou o guinchamento, quanto depois, tendo pesadelos com a mãe sendo presa.  '

In [57]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [74]:
from nltk.tokenize import sent_tokenize
# Split sentences by '.'  
sentences = sent_tokenize(text)
sentences

['Mini-Fusca de menina de 7 anos é guinchado pela polícia em SC; veja vídeo.',
 'PM cobrou licenciamento de veículo, mas mãe tinha apenas nota fiscal.',
 'O primeiro dia de 2022 deixou memórias ruins para a família de Simone França, 40.',
 'Seu marido e sua filha, de 7 anos, estavam passeando em um mini-Fusca em Itapoá (a 250 km de Florianópolis) quando o veículo foi apreendido e guinchado pela Polícia Militar de Santa Catarina.',
 'De acordo com a PM, o mini-Fusca, por ser motorizado e movido a gasolina, ao circular em uma via pública, recebe o tratamento como um veículo automotor, conforme o Código de Trânsito Brasileiro.',
 '"Estava sendo conduzido sem as devidas condições de segurança, sem a documentação necessária (licenciamento) e dirigido por pessoa não habilitada, que acarretam na remoção do mesmo, além das autuações pertinentes", diz em nota a corporação.',
 'Segundo Simone, sua filha estava acompanhada do pai no mini-Fusca conversível, e tanto o carro da frente quanto o de trás eram da família, fazendo a segurança do veículo, com pisca-alerta ligado.',
 'Quando o veículo foi abordado, a empresária afirma que tentou apresentar ao policial a nota fiscal do modelo, que é voltado ao público infantil, mas ele cobrou o licenciamento e disse que já havia orientado a família sobre isso.',
 'Esse mesmo PM, segundo a mulher, os havia abordado dois dias antes, quando a criança dirigia na rua de casa, e perguntara apenas sobre nota fiscal.',
 '"Ele não falou em nenhum momento que não podia andar.',
 'Se dissesse algo, eu já deixava na garagem de casa e pedia para o meu pai levar embora", explica ela.',
 'Nesse segundo encontro, após o policial pedir a documentação, Simone disse que não sabia que precisava e sugeriu empurrar o brinquedo motorizado de volta para casa ou então tirar a bateria.',
 '"O desconhecimento da legislação não exime o condutor da aplicação das normas, seja elas de trânsito ou de outra espécie", diz a PM em nota.',
 '\u200bA empresária afirma que quem estava conduzindo o mini-Fusca era o pai, e não a filha.',
 '"Era ele que estava usando o freio e o acelerador.',
 'O policial alegou que ela estava dirigindo, e a gente falava ‘como que a gente vai deixar ela dirigir aqui?’ Não dava nem para andar a 10 km/h."',
 'Modelos como o da família paranaense têm quatro pedais: um freio e um acelerador para quem está à esquerda e outro freio e outro acelerador para quem está à direita.',
 'Segundo a PM, a entrega de veículo a pessoa não habilitada pode gerar detenção de seis meses a um ano ou multa.',
 'O pai da criança teve a habilitação apreendida e vai responder a um processo criminal.',
 'Para Alan Bousso, mestre em direito civil, o pai da criança tem que responder criminalmente, por ser o responsável pela menor.',
 '"Como o carro pode atingir 50 km/h, ele pode causar prejuízo para as pessoas", explica.',
 '"A polícia não tem só o dever, mas a obrigação de tirar o carro de circulação, que pode causar a morte de alguém."',
 'Segundo a empresária, a filha costuma dirigir o mini-Fusca no condomínio onde moram, em São José dos Pinhais (PR), e nunca teve um problema semelhante.',
 'O carro, que custou R$ 12.500, faz sucesso entre as crianças da região, ela diz.',
 'Após a confusão, a família adiantou o retorno para casa e já procurou um advogado para liberar o mini-Fusca com a Justiça.',
 'A empresária diz, ainda, que está avaliando processar o Estado de Santa Catarina pelo jeito que a família foi tratada pelos PMs.',
 'Segundo a paranaense, a filha sofreu bastante com o ocorrido, tanto durante as quatro horas que levou o guinchamento, quanto depois, tendo pesadelos com a mãe sendo presa.']

In [84]:
# https://monkeylearn.com/blog/named-entity-recognition/
# https://spacy.io/usage/linguistic-features#tokenization

import spacy
# Entity Recognition model in Portuguese
nlp = spacy.load("pt_core_news_sm")
# Auxiliary object
entities_aux = []

In [85]:
for sent in sentences:
  # Apply entity recognition model by sentence
  sent_ent = nlp(sent)
  # Entity recognition
  ents = [(e.text, e.label_) for e in sent_ent.ents]
  entities_aux.append(ents)

In [86]:
# Keep only the annotated entries 
entities = []
for l in entities_aux:
    entities.extend(l)

In [123]:
entities

[('Mini-Fusca', 'LOC'),
 ('SC', 'MISC'),
 ('Simone França', 'PER'),
 ('Itapoá', 'LOC'),
 ('Florianópolis', 'LOC'),
 ('Polícia Militar de Santa Catarina', 'LOC'),
 ('PM', 'ORG'),
 ('Código de Trânsito Brasileiro', 'LOC'),
 ('pessoa', 'PER'),
 ('Simone', 'PER'),
 ('Simone', 'PER'),
 ('PM', 'LOC'),
 ('\u200bA', 'PER'),
 ('PM', 'ORG'),
 ('Alan Bousso', 'PER'),
 ('São José dos Pinhais', 'LOC'),
 ('R$', 'MISC'),
 ('Justiça', 'MISC'),
 ('Estado de Santa Catarina', 'LOC'),
 ('PMs', 'MISC')]

In [126]:
# Entities on a data frame object
import pandas as pd
df = pd.DataFrame(entities, columns = ['Entity', 'Type'])
df = df.query('Type == "PER"')
df

           Entity Type
2   Simone França  PER
8          pessoa  PER
9          Simone  PER
10         Simone  PER
12             ​A  PER
14    Alan Bousso  PER

In [132]:
# Filtering Entities that have at least one capital letter
df = df[df['Entity'].str.match("[A-Z]+") == True]
df

           Entity Type
2   Simone França  PER
9          Simone  PER
10         Simone  PER
14    Alan Bousso  PER

In [ ]:
# Remove duplicate rows
df = df.drop_duplicate(subset = None)

In [102]:
# Split the name into First and Family Name
df[['FirstName', 'FamilyName']] = df['Entity'].str.split(' ', 1, expand = True)
df